.card {
  // height: 13rem;
  max-width: 10rem;
//  max-height: 10rem;
//  width: 10rem;

  background-color: rgba(228, 230, 230, 0.205);
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}
.cardimg_style {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
.card-items {
  padding-left: 5px;
  padding-right: 5px;
}
